<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147209668481-l8ic1no2cn5gm9lorrplj4kd4ouv8jee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147209668481-l8ic1no2cn5gm9lorrplj4kd4ouv8jee</string>
	<key>API_KEY</key>
	<string>AIzaSyAuDm35CKnGCFqqHeoHKkRqBgiQ2hxsBZM</string>
	<key>GCM_SENDER_ID</key>
	<string>147209668481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.overman.OvermanInsta</string>
	<key>PROJECT_ID</key>
	<string>overmaninsta</string>
	<key>STORAGE_BUCKET</key>
	<string>overmaninsta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147209668481:ios:a7f00b1b015e6124e70a80</string>
</dict>
</plist>